/* src/styles/AuthNavbar.css */
.auth-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4f46e5; /* Indigo-600 */
    padding: 1rem 2rem;
    color: white;
  }
  
  .auth-navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .auth-navbar-links ul {
    display: flex;
    gap: 1rem;
  }
  
  .auth-navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  
  .auth-navbar-links a:hover {
    text-decoration: underline;
  }
  